/* ====================
     global colors
==================== */
$blk: #000;         // black
$wht: #fff;         // white
$gry: #545454;      // grey
$ltgry: #A4A4A4;    // light grey

/* ====================
     media queries
==================== */
$small: 768px;
$medium: 992px;
$large: 1200px;

/* ====================
     typography
==================== */
$main_font: 'Fira Sans', sans-serif;

h1,
h2,
h3 {
    font-family: $main_font;
    font-weight: 500;
}

p {
    font-family: $main_font;
    font-weight: 400;
}


/* ====================
     layout
==================== */


/* ====================
     links
==================== */
.navbar-collapse {
    ul {
        list-style: none;
        padding-left: 0;

        li {
            border-bottom: 1px dotted $gry;
            color: $gry;
            a {
                color: $ltgry;
                line-height: 50px;
                text-decoration: none;
                text-transform: capitalize;

                &:hover {
                    color: $wht;
                }
            }
        }
    }
}


/* ====================
     images
==================== */
/* Desktop */
    .jumbotron {
        background: url('/img/mobile-bg.jpg') no-repeat right bottom;
        background-size: cover;
        border-bottom: 1px dotted $gry;
    }

/* ====================
     responsive
==================== */
@media (min-width: $small) {
    /* desktop */
    .jumbotron {
        background: url('/img/jm-bio-pic.jpg') no-repeat right bottom;
    }

    .navbar-collapse {
        ul {
            li {
                border-bottom: none;
                display: inline-block;
                margin-top: 15px;
                padding-right: 25px;

                a {
                    line-height: 0;
                }
            }
        }
    }
}

@media (max-width: $small) {
    /* mobile-only */
    .site-title {
        margin-top: 40px;
    }
}