* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Monaco", sans-serif;
    padding: 15px;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.container {
    border-radius: 4px;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
    width: 200px;
}

.display {
    background-color: #73daeb;
    color: #fff;
    font-size: 18px;
    height: 110px;
    width: 100%;
}

.display #console {
    height: 60px;
    padding: 0 10px;
    text-align: right;
    width: 180px;
    word-wrap: break-word;
}

.display #status {
    height: 40px;
    padding: 10px 0 0 10px;
    width: 50%;
}

.key-row {
    height: 50px;
    width: 100%;
}

.key {
    background-color: #4c4c4c;
    color: #fff;
    cursor: pointer;
    display: grid;
    font-size: 22px;
    float: left;
    height: 50px;
    line-height: 52px;
    overflow: hidden;
    text-align: center;
    width: 50px;
}

.key-equal {
    width: 100px;
}

.key-op {
    background-color: #5f5f5f;
}

.key-other {
    background-color: #181818;
}

.keypress {
    background-color: #3a3a3a;
}